body {
	font-family: 'Roboto Slab', serif;
	color: gray;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}
/* sticky navigation bar that's hidden until scrolling */
#nav {
	height:55px;
	width: 100%;
	position:fixed;
	padding-top: 2px;
	top:0;
	left:0;
	background-color:#ffffff;
	z-index:9999;
	display: none;
/* drop shadow on navbar */
	-webkit-box-shadow: 0 10px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 6px -6px #999;
}

/* start - making the menu on navbar transparent */
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { color: #000
}
/* end - making the navbar transparent */

.mousetoHand{
	cursor: pointer;
}
.text-muted {
	color: #BCBB30;
}
b {
	font-style: bold;
	color: #005d64;
}
.text-thin {
	font-weight: 100;
}
.title-super {
	font-weight: 900;
}
.title-logo {
	margin-top: 40px;
}
p.main {
	text-align: justify;
}
.textContainer {
	vertical-align: middle;
	display: inline-block;
}
.hrpadding {
	margin-top: 1px;
	margin-bottom: 1px;
}

/* start - removing edge gutter */
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.row.row-no-gutter {
    margin: 0
}
.row.row-no-gutter [class*="col-"] {
    padding: 0
}
.img-full-width {
    width: 100.5%;
    height: auto;
}
.has-inner .row.row-no-gutter {
    margin-left: -10px;
    margin-right: -10px;
}
.row.row-no-gutter .inner {
    padding-left: 10px;
    padding-right: 10px;
}
/* end - removing edge gutter */

.top-buffer {
	margin-top:50px;
}
h3 {
	display: inline;
}

p.button {
  text-align: center;
}

/* align images to bottom of column set */
@media only screen and (min-width : 768px) {

/* spacing for 3 column set on Services and About sections */
 .row.row-table {
    display: table;
 }
 [class*="col-md-4"] {
    float: none;
  	width: 33%;
  	display: table-cell;
    vertical-align: top;
    position: relative;
    padding-bottom: 100px;
 }
 p.img {
    position: absolute;
    bottom: 0;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
